.App {
    background-color: #F2F2F2;
    height: 100vh;
    display: grid;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "s h"
    "s c";
}

.headers {
    grid-area: h;
    padding: 31px 32px 28px;
}

.headers-block {
    display: flex;
    max-width: 1072px;
    height: 48px;
}

.headers-input {
    width: 385px;
    background: url("./assets/img/headingPic/searchIcon.png") no-repeat;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: none;
    background-position: 16px;
    padding-left: 48px;
    margin-right: 16px;
}

.headers-btn {
    background: url("./assets/img/headingPic/Buttons.png") no-repeat;
    width: 48px;
    height: 48px;
    border: none;
}


.sidebars {
    grid-area: s;
    background-color: #F8F8F8;
    ;
}

.main{
    grid-area: c;
    padding: 0 32px;
}

.block-title {
    margin: 0;
}

.block-content {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}


.control {
    display: flex;
    justify-content: space-between;
}

.channels-block {
    display: grid;
    grid-template-columns: repeat(6, 152px);
    gap: 32px;
    align-items: center;
}



.news-block {
    display:grid;
    grid-template-columns: repeat(3, 336px);
    align-items: center;
    gap: 32px;
}
img {
    border-radius: 12px;
}



