.App {
    background-color: #F2F2F2;
    height: 100vh;
    display: grid;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "s h"
    "s c";
}

.header {
    grid-area: h;
}

.sidebars {
    grid-area: s;
    background-color: #F8F8F8;
    ;
}

.main{
    grid-area: c;
    padding: 0 32px;
}

.block-title {
    margin: 0;
}

.block-content {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}


.control {
    display: flex;
    justify-content: space-between;
}

.channels-block {
    display: grid;
    grid-template-columns: repeat(6, 152px);
    gap: 32px;
    align-items: center;
}

.headers-block {
    display: flex;
}

.news-block {
    display:grid;
    grid-template-columns: repeat(3, 336px);
    align-items: center;
    gap: 32px;
}



